<html>
<head>
<title>Belagos Web UI</title>
</head>
<img src="/static/bela_black.jpg" alt="Belagos Logo">
<br />

<p>Status: {{status}}<p/>

{% if status != 'booted' %}
<form action="/{{uuid}}/boot" method="GET">
   <input type="submit" value="Boot">
</form><br />
{% else %}
<form action="/{{uuid}}/halt" method="GET">
   <input type="submit" value="Halt">
</form><br />
{% endif %}

{% if disk_encryption %}
<form action="/{{uuid}}/password" method="POST">
  <label for="disk_password">Disk Password</label>
  <input type="password" name="disk_password"><br />
  <label for="glenda_password">Glenda Password</label>
  <input type="password" name="glenda_password"><br />
  <input type="submit" value="Store">
</form><br />
{% endif %}

{% if overlay_cansudo %}
<form action="/{{uuid}}/network" method="GET">
  <label for="overlay">Overlay:</label>
  <select name="overlay">
    <option value="restore">restore</option>
    <option value="clear">clear</option>
    <option value="tor">tor</option>
    <option value="yggdrasil">yggdrasil</option>
  </select>
  <label for="action">Action:</label>
  <select name="action">
    <option value=" "> </option>
    <option value="install">install</option>
    <option value="uninstall">uninstall</option>
    <option value="inbound">inbound</option>
    <option value="outbound">outbound</option>
  </select>
  <input type="submit">
</form>
{% endif %}

</html>
