<html>
<head>
<title>Belagos Web UI</title>
</head>
<img src="/static/bela_black.jpg" alt="Belagos Logo">
<br />

<p>Status: {{status}}<p/>

{% if status != 'booted' %}
<form action="/{{uuid}}/boot" method="GET">
   <input type="submit" value="Boot">
</form><br />
{% else %}
<form action="/{{uuid}}/halt" method="GET">
   <input type="submit" value="Halt">
</form><br />
{% endif %}

{% if disk_encryption %}
<form action="/{{uuid}}/password" method="POST">
  <label for="disk_password">Disk Password</label>
  <input type="password" name="disk_password"><br />
  <label for="glenda_password">Glenda Password</label>
  <input type="password" name="glenda_password"><br />
  <input type="submit" value="Store">
</form><br />
{% endif %}

{% if overlay_cansudo %}
<form action="/{{uuid}}/network" method="POST">
  <h2>Networking</h2>
  <h3>Inbound</h3>
  <input type="radio" id="in_default" name="inbound" value="default">
  <label for="in_default">Default</label><br>

  {% if "tor" in pluginsEnabled %}
  <input type="radio" id="in_tor" name="inbound" value="tor">
  <label for="in_tor">Tor</label><br>
  {% endif %}

  {% if "yggdrasil" in pluginsEnabled %}
  <input type="radio" id="in_yggdrasil" name="inbound" value="yggdrasil">
  <label for="in_yggdrasil">Yggdrasil</label><br>
  {% endif %}

  <h3>Outbound</h3>
  <input type="radio" id="out_default" name="outbound" value="default">
  <label for="out_default">Default</label><br>

  {% if "tor" in pluginsEnabled %}
  <input type="radio" id="out_tor" name="outbound" value="tor">
  <label for="out_tor">Tor</label><br>
  {% endif %}

  {% if "yggdrasil" in pluginsEnabled %}
  <input type="radio" id="out_yggdrasil" name="outbound" value="yggdrasil">
  <label for="out_yggdrasil">Yggdrasil</label><br>
  {% endif %}

  <input type="submit" value="Save">
</table><br />
{% endif %}

<h2>Plugins</h2>
{% for plugin in plugins %}
   {% include plugin %}
{% endfor %}

</html>
