#!/bin/rc
# This rc script just formats the nvram. Its used by “install/9front_grid_pxe_client_nvram.exp”.

disk/mbr /dev/sd00/data
disk/fdisk -aw /dev/sd00/data
disk/prep -a nvram -w /dev/sd00/plan9
echo clear >/dev/sd00/nvram
