#!/bin/rc
# This rc script just installs some optional packages. Its currently unused. 

9fs 9front

# X11/equis
#cd /
#tar xzf /n/pkg/386/equis*.tbz

cd $home/tmp

# 9front rio.amber
tar xzf /n/extra/rio.amber.tgz
cd rio.amber
./install
mv /bin/rio /bin/rio.snore
mv /bin/rio.amber /bin/rio
cd ..
rm -rf rio.amber

# 9front vt.green
tar xzf /n/extra/vt.green.tgz
cd vt.green
mk
mk install
cd ..
rm -rf vt.green

# 9front mothra.black
tar xzf /n/extra/mothra.black.tgz
cd mothra.black
mk
mk install
cd ..
rm -rf mothra.black

# 9front stats.amber
tar xzf /n/extra/stats.amber.tgz
cd stats.amber
mk
mk install
cd ..
rm -rf stats.amber
